<div class="header-container">
    <nav class="header-nav">
        <a href="/schematics" class="header-link">Schematics</a>
        <a href="/heightmaps" class="header-link">Heightmaps</a>
    </nav>
    <a href="/" class="header-icon-container">
        <img src="/images/logo.png" style="height: 40px; margin-top: 10px; margin-bottom: 10px;" alt="logo">
    </a>
    <div class="header-container-right">
        <% if (!header.username) { %>
            <a href="/login" class="header-link">Login</a>
        <% } else { %>
                <a class="header-link">Welcome, <%= header.username %></a>
        <% } %>
    </div>
</div>