<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="en">
<meta name="robots" content="NOINDEX,NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="playlegend.net">
<meta name="publisher" content="playlegend.net">
<meta name="copyright" content="playlegend.net">
<meta name="description" content="A fancy and simple UI for up- & downloading schematics and heightmaps">
<title>WorldEditLab</title>

<link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">