<div class="header-container">
    <nav class="header-nav">
        <% if (header.role === 2) { %>
            <a href="/management" class="header-link"><i class="fas fa-wrench"></i></a>
        <% } %>
        <a href="/schematics" class="header-link">Schematics</a>
        <a href="/heightmaps" class="header-link">Heightmaps</a>
    </nav>
    <span class="header-icon-container">
        <a href="/"><img src="/images/logo.png" style="height: 40px; margin-top: 10px; margin-bottom: 10px;" alt="logo"></a>
    </span>
    <div class="header-container-right">
        <% if (!header.username) { %>
            <a href="/login" class="header-account-link">Login</a>
        <% } else { %>
                <a class="header-account-link">Welcome, <%= header.username %></a>
        <% } %>
    </div>
</div>