<div class="header-container">
    <nav class="header-nav">
        <a href="/schematics" class="header-link">Schematics</a>
        <a href="/heightmaps" class="header-link">Heightmaps</a>
    </nav>
    <a class="header-icon-container">
        <img src="/images/logo.png" style="height: 40px; margin-top: 10px; margin-bottom: 10px;" alt="logo">
    </a>
    <div class="header-container-right">
        <a href="/sign-in" class="header-link">Sign In</a>
    </div>
</div>