<div class="management-nav">
    <ul>
        <li>Management</li>
        <li><a href="/management/users">Users</a></li>
        <li><a href="/management/schematic-categories">Schematic Categories</a></li>
    </ul>
</div>
