<ul class="management-nav">
    <li title="Users"><a href="/management/users"><i class="fas fa-user"></i></a></li>
    <li title="Schematic Categories"><a href="/management/schematic-categories"><i class="fas fa-map"></i></a></li>
</ul>