<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div>
            <div class="modal-head"><p></p></div>
            <div class="modal-body"></div>
            <div class="modal-foot"></div>
        </div>
    </div>
</div>
