<div class="table">
    <table>
        <thead>
        <tr>
            <th class="table-checkbox">
                <label>
                    <input type="checkbox">
                </label>
            </th>
            <% for (var i = 0; i < columns.length; i++) { %>
                <th>
                    <%= columns[i].title %>
                </th>
            <% } %>
        </tr>
        </thead>
        <tbody>
        <% for (var iContent = 0; iContent < content.length; iContent++) { %>
            <tr>
                <td class="table-checkbox">
                    <label>
                        <input type="checkbox" >
                    </label>
                </td>
            <% for (var iColumn = 0; iColumn < columns.length; iColumn++) { %>
                <% if (columns[iColumn].key !== undefined) { %>
                    <td>
                        <span><%= content[iContent][columns[iColumn].key] %></span>
                    </td>
                <% } else if (columns[iColumn].func !== undefined) { %>
                    <td>
                        <span><%- columns[iColumn].func(content[iContent]) %></span>
                    </td>
                <% } %>
            <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>