<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
</header>
<div class="text-center text-2xl">
    <img src="/images/logo_full.png" alt="Full logo" class="lg:w-1/3 w-9/12 m-auto">
    <p class="mb-4">A fancy and simple UI for up- & downloading schematics and heightmaps</p>
    <p>An open source project from <a class="text-prime" href="https://playlegend.net">PlayLegend.net</a></p>
</div>
<%- include('partials/foot'); %>
</body>
</html>