<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
</header>
<ul>
    <li><a href="/management/users">Users</a></li>
    <li><a href="/management/schematic-categories">Schematic Categories</a></li>
</ul>
<%- include('partials/foot'); %>
</body>
</html>