<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
    <%- include('partials/management-header'); %>
</header>
<%- include('partials/foot'); %>
</body>
</html>