<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
</header>

<div class="container mx-auto py-6">
    <h1 class="text-3xl py-4 border-b mb-10">Schematics</h1>
    <% if (header.username) { %>
        <div class="mb-4 flex justify-between items-center">
            <div class="flex-1 pr-4 mb-4"></div>
            <div>
                <div class="shadow rounded-lg flex">
                    <div class="relative">
                        <button class="modal-open rounded-lg inline-flex items-center bg-green-600 text-white hover:bg-green-700 py-2 px-2 md:px-4">
                            <span>Upload</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% }
    var tableData = {
        columns: [
            {title: 'Name', key: 'name'},
            {title: 'Uploaded By', func: (item) => (item.uploadedBy ? item.uploadedBy.name : '-')},
            {title: 'Uploaded At', func: (item) => (new Date(item.createdAt).toLocaleDateString())},
            {
                title: '', func: (item) => (`
<span class="actionhub">
    <i class="fas fa-link" onclick="WEL.copyToClipboard('${data.baseURL}/dl/s/${item.uuid}')"></i>
    <i class="fas fa-arrow-down" onclick="location.href='${data.baseURL}/dl/s/${item.uuid}'"></i>
    <i class="fas fa-wrench" onclick="alert('Work in progress')"></i>
</span>`)
            }
        ],
        content: JSON.parse(data.tableData)
    };
    %>
    <%- include('partials/table', tableData); %>
</div>
<%- include('partials/modal'); %>
<script>WEL.registerSchematicModal();</script>
</body>
</html>