<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
</header>

<div class="container mx-auto py-6">
    <h1 class="text-3xl py-4 border-b mb-10">Schematics</h1>
    <% if (header.username) { %>
        <div class="mb-4 flex justify-between items-center">
            <div class="flex-1 pr-4 mb-4"></div>
            <div>
                <div class="shadow rounded-lg flex">
                    <div class="relative">
                        <button class="rounded-lg inline-flex items-center bg-green-600 text-white hover:bg-green-700 py-2 px-2 md:px-4"
                                onclick="WEL.openSchematicUploadModal()">
                            <span>Upload</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% }
    var tableData = {
        columns: [
            {title: 'Name', key: 'name'},
            {title: 'Uploaded By', func: (item) => (item.uploadedBy ? item.uploadedBy : '-')},
            {title: 'Uploaded At', func: (item) => (item.createdAt.toLocaleDateString())},
            {
                title: 'Access', func: (item) => {
                    switch (item.access) {
                        case 0:
                            return 'Public';
                        case 1:
                            return 'Internal';
                        case 2:
                            return 'Private';
                    }
                }
            },
            {
                title: '', func: (item) => {
                    if (item.write) {
                        return `
<span class="actionhub">
    <i class="fas fa-link" onclick="WEL.copyToClipboard('${data.baseURL}/dl/s/${item.uuid}')"></i>
    <i class="fas fa-arrow-down" onclick="location.href='${data.baseURL}/dl/s/${item.uuid}'"></i>
    <i class="fas fa-trash-alt" onclick="WEL.openConfirmModal('Do you really want to delete the schematic?', () => {WEL.deleteSchematic('${item.uuid}')})"></i>
    <i class="fas fa-wrench" onclick="WEL.sendNotification('Work in progress')"></i>
</span>`;
                    } else {
                        return `
<span class="actionhub">
    <i class="fas fa-link" onclick="WEL.copyToClipboard('${data.baseURL}/dl/s/${item.uuid}')"></i>
    <i class="fas fa-arrow-down" onclick="location.href='${data.baseURL}/dl/s/${item.uuid}'"></i>
</span>`;
                    }
                }
            }
        ],
        content: data.tableData
    };
    %>
    <%- include('partials/table', tableData); %>
</div>
<%- include('partials/foot'); %>
</body>
</html>